.contactForm{    
    background-color: #008080;
}
.contact{
    width: 80%;
    margin: auto;
    align-items: center;
    text-align: center;
    padding-bottom: 10%;
}
.heading{
    padding: 2rem 0 1rem 0;
    font-size: 30px;
    text-align: center;
    color: coral;
    font-weight: 600;
}
.name{
    padding: 1.5rem 2rem;
}
.name>input{
    padding: 1rem;
    width: 35%;    
    border-radius: 10px;
    border: none;
    outline: none;
}
.message{
    padding: 1.5rem 2rem;
}
.message>input{
    padding: 1rem 1rem 7rem 1rem;
    width: 35%;    
    border-radius: 10px;
    border: none;
    outline: none;
}
input{
    background-color: antiquewhite;
    color: #D2691E;
    font-size: 16px;
    font-weight: 400;
}
.btn button{
    padding: 15px;
    width: 17%;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: white;
    cursor: pointer;
    background-color:coral;
}
.btn>button:hover{
    background-color: lightcoral;
}
.btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }
  .row{
    background: white;
    box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.09);
    border-radius: 0 0 5px 5px;
    margin-bottom: 2rem;
    text-align: center;
  }
  .row p{
    padding: 2rem;
    color: green;
  }


/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  .contact {
    width: 100%;
    padding-bottom: 5%;
  }
  .name>input,
  .message>input {
    width: 80%;
  }
  .btn button {
    width: 40%;
  }
}

/* Media query for screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .contact {
    width: 90%;
    padding-bottom: 7%;
  }
  .name>input,
  .message>input {
    width: 50%;
  }
  .btn button {
    width: 25%;
  }
}

/* Media query for screens larger than 1023px */
@media (min-width: 1024px) {
  .contact {
    width: 80%;
    padding-bottom: 10%;
  }
  .name>input,
  .message>input {
    width: 35%;
  }
  .btn button {
    width: 17%;
  }
}
